<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.easygo">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EasyGo">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>

        <activity android:name=".Passengers_UI.AboutUs"/>
        <activity android:name=".Passengers_UI.SelectRoute" />
        <activity android:name=".Passengers_UI.SelectBusSeat" />
        <activity android:name=".Ticket_Booking_Master.ManageTickets" />
        <activity android:name=".Ticket_Booking_Master.ManageRoute" />
        <activity android:name=".Ticket_Booking_Master.ManageVehicles" />
        <activity android:name=".Passengers_UI.UserHome" />
        <activity android:name=".Ticket_Booking_Master.AdminHome" />
        <activity android:name=".SignUp" />
        <activity android:name=".Login" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>